<div class="container mt-5">
        <div class="card text-white">
            <div class="card-header">
                <h1 class="text-center">Harry Potter and the Chamber of Secrets</h1>
            </div>
            <div class="card-body border border-3 rounded-3">
                <div class="row">
                    <div class="col-md-3">
                        <img src="https://www.wizardingworld.com/images/products/books/UK/rectangle-1.jpg" class="img-fluid" alt="Harry Potter and the Chamber of Secrets">
                        <div class=" text-center m-4">
                            <a href="#" class="btn  m-2 btn-outline-light btn-sm">API <i class="bi bi-box-arrow-up-right"></i></a>
                            <a href="#" class="btn  btn-outline-light btn-sm">Wiki <i class="bi bi-box-arrow-up-right"></i></a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Harry Potter and the Chamber of Secrets</p>
                        <h4 class="card-title">Author</h4>
                        <p class="card-text">J. K. Rowling</p>
                        <h4 class="card-title">Release Date</h4>
                        <p class="card-text">7/2/1998</p>
                        <h4 class="card-title">Pages</h4>
                        <p class="card-text">251</p>
                        <h4 class="card-title">Dedication</h4>
                        <p class="card-text">For Séan P. F. Harris, getaway driver and foul-weather friend</p>
                        <h4 class="card-title">Summary</h4>
                        <p class="card-text">Harry Potter's summer has included the worst birthday ever, doomy warnings from a house-elf called Dobby, and rescue from the Dursleys by his friend Ron Weasley in a magical flying car! Back at Hogwarts School of Witchcraft And Wizardry for his second year, Harry hears strange whispers echo through empty corridors – and then the attacks start. Students are found as though turned to stone... Dobby's sinister predictions seem to be coming true.</p>
                    </div>
                </div>
            </div>
            <div class="card-footer border border-3 mt-3 rounded-3">
                <h4 class="card-title">Chapters</h4>
                <div class="chapter-list">
                    <ol>
                        <li>The Worst Birthday</li>
                        <li>Dobby's Warning</li>
                        <li>The Burrow</li>
                        <li>At Flourish and Blotts</li>
                        <li>The Whomping Willow</li>
                        <li>Gilderoy Lockhart</li>
                        <li>Mudbloods And Murmurs</li>
                        <li>The Deathday Party</li>
                        <li>The Writing on the Wall</li>
                        <li>The Rogue Bludger</li>
                        <li>The Duelling Club</li>
                        <li>The Polyjuice Potion</li>
                        <li>The Very Secret Diary</li>
                        <li>Cornelius Fudge</li>
                        <li>Aragog</li>
                        <li>The Chamber of Secrets</li>
                        <li>The Heir of Slytherin</li>
                        <li>Dobby's Reward</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
