<div class="col mb-4">
  <div class="card border border-3 rounded-3 text-white" style="width: 18rem;">
  <img src="https://www.wizardingworld.com/images/products/books/UK/rectangle-1.jpg" class="card-img-top mx-auto d-block" alt="Imagen del libro" style="width: 200px;">
  <div class="card-body">
    <h5 class="card-title">Harry Potter and the Philosopher's Stone</h5>
    <p class="card-text"><i class="bi bi-calendar-event-fill"></i>6/26/1997</p>
    <p class="card-text"><i class="bi bi-file-text-fill"></i>223</p>
    <p class="card-text"><i class="bi bi-pencil-fill"></i>J. K. Rowling</p>
    <a href="#" class="btn btn-primary w-100">Ver Detalles</a>
  </div>
</div>

</div>
